In [56]:
import pandas as pd

In [57]:
df = pd.read_excel("best-selling game consoles.xlsx", sheet_name="consoles")
df.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PlayStation 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,Nintendo DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,Nintendo Switch,Hybrid,Nintendo,2017,0,122.55,NaN
3,Game Boy,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,Game Boy Color,Handheld,Nintendo,1998,2003,44.06,NaN

In [58]:
df['Console Name'] = df['Console Name'].replace(r'NES', 'Nitendinho')

In [59]:
print(df.head())

      Console Name      Type   Company  Released Year  Discontinuation Year  \
0    PlayStation 2      Home      Sony           2000                  2013
1      Nintendo DS  Handheld  Nintendo           2004                  2013
2  Nintendo Switch    Hybrid  Nintendo           2017                     0
3         Game Boy  Handheld  Nintendo           1989                  2003
4   Game Boy Color  Handheld  Nintendo           1998                  2003

   Units sold (million)                                            Remarks
0                155.00           Final sales are greater than 155 million
1                154.02                                                NaN
2                122.55                                                NaN
3                 64.42  The Game Boy (1989) and the Game Boy Color (19...
4                 44.06                                                NaN

In [60]:
def verificar_maiusculo(nome):
    
    if isinstance(nome, str):
        return nome.isupper()
    return False

In [61]:
def converter_para_maiusculo(nome):
    
    if isinstance(nome, str) and not nome.isupper():
        return nome.upper()
    return nome

In [62]:
for coluna in df.columns:
    df[coluna] = df[coluna].map(lambda valor: converter_para_maiusculo(valor))

print(df.head())

      Console Name      Type   Company  Released Year  Discontinuation Year  \
0    PLAYSTATION 2      HOME      SONY           2000                  2013
1      NINTENDO DS  HANDHELD  NINTENDO           2004                  2013
2  NINTENDO SWITCH    HYBRID  NINTENDO           2017                     0
3         GAME BOY  HANDHELD  NINTENDO           1989                  2003
4   GAME BOY COLOR  HANDHELD  NINTENDO           1998                  2003

   Units sold (million)                                            Remarks
0                155.00           FINAL SALES ARE GREATER THAN 155 MILLION
1                154.02                                                NaN
2                122.55                                                NaN
3                 64.42  THE GAME BOY (1989) AND THE GAME BOY COLOR (19...
4                 44.06                                                NaN

In [63]:
def filtrar_por_ano(df, ano_limite=2010):
    df_filtrado = df[df['Released Year'] > ano_limite]
    return df_filtrado

df_filtrado = filtrar_por_ano(df)

print(df_filtrado)

                 Console Name       Type    Company  Released Year  \
2             NINTENDO SWITCH     HYBRID   NINTENDO           2017
5               PLAYSTATION 4       HOME       SONY           2013
12               NINTENDO 3DS   HANDHELD   NINTENDO           2011
14                   XBOX ONE       HOME  MICROSOFT           2013
19              PLAYSTATION 5       HOME       SONY           2020
23            XBOX SERIES X/S       HOME  MICROSOFT           2020
24                      WII U       HOME   NINTENDO           2012
25           PLAYSTATION VITA   HANDHELD       SONY           2011
33  SUPER NES CLASSIC EDITION  DEDICATED   NINTENDO           2017
35        NES CLASSIC EDITION  DEDICATED   NINTENDO           2016

    Discontinuation Year  Units sold (million)  \
2                      0                122.55
5                      0                117.20
12                  2020                 75.94
14                  2020                 58.50
19                     0                 30.00
23                     0                 18.50
24                  2017                 13.56
25                  2019                 15.00
33                  2018                  5.28
35                  2018                  3.56

                              Remarks
2                                 NaN
5                                 NaN
12                                NaN
14  ESTIMATED BETWEEN 51-58.5 MILLION
19                                NaN
23  APPROXIMATELY AROUND 18.5 MILLION
24                                NaN
25    ESTIMATED BETWEEN 10-15 MILLION
33                                NaN
35                                NaN

In [64]:
print("Informações gerais do DataFrame:")
df.info()

Informações gerais do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               16 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

In [65]:
print("\nResumo estatístico do DataFrame:")
print(df.describe())

Resumo estatístico do DataFrame:
       Released Year  Discontinuation Year  Units sold (million)
count      51.000000             51.000000             51.000000
mean     1996.058824           1844.803922             35.549412
std        12.378064            543.657319             42.608844
min      1976.000000              0.000000              1.000000
25%      1987.500000           1992.000000              3.200000
50%      1994.000000           1998.000000             13.560000
75%      2004.500000           2011.500000             60.205000
max      2020.000000           2020.000000            155.000000

In [66]:
def verificar_missing_values(df):
    missing = df.isnull().sum()
    if missing.any():
        print("Valores ausentes encontrados nas colunas:")
        print(missing[missing > 0])
    else:
        print("Não há valores ausentes no DataFrame.")

verificar_missing_values(df)

Valores ausentes encontrados nas colunas:
Remarks    35
dtype: int64

In [67]:
def substituir_missing_values(df, valor='missing'):
    df.fillna(valor, inplace=True)
    print("Valores ausentes foram substituídos por:", valor)


substituir_missing_values(df, 'missing')


verificar_missing_values(df)

Valores ausentes foram substituídos por: missing
Não há valores ausentes no DataFrame.

In [77]:
def verificar_consoles_descontinuados(df):
    
    consoles_com_descontinuacao = df[df['Discontinuation Year'].notnull() & (df['Discontinuation Year'] != 0)]
    
    if not consoles_com_descontinuacao.empty:
        for index, row in consoles_com_descontinuacao.iterrows():
            console_nome = row['Console Name']
            ano_descontinuacao = row['Discontinuation Year']
    else:
        print("Não há consoles com ano de descontinuação na base.")

verificar_consoles_descontinuados(df)

In [69]:
def verificar_diferenca_ano(df):
    consoles_com_descontinuacao = df[df['Discontinuation Year'].notnull() & (df['Discontinuation Year'] != 0)]
    consoles_com_dif_ano_inferior_2 = consoles_com_descontinuacao[
        (consoles_com_descontinuacao['Discontinuation Year'] - consoles_com_descontinuacao['Released Year']) < 2]
    return consoles_com_dif_ano_inferior_2

In [70]:
resultado = verificar_diferenca_ano(df)
print(resultado)

                 Console Name       Type           Company  Released Year  \
33  SUPER NES CLASSIC EDITION  DEDICATED          NINTENDO           2017
44           MAGNAVOX ODYSSEY       HOME  MAGNAVOX/PHILIPS           1978

    Discontinuation Year  Units sold (million)  Remarks
33                  2018                  5.28  missing
44                  1975                  2.00  missing